*{
    margin: 2%;
    padding: 0%;
   
}

html, body {
    height: 100%;
    background-color: rgb(40, 95, 95);

}

.container {
    height: 100%;
}

.form-container {
    display:flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    
}
form label {
    padding: 10px;
    height: 3%;
    width: 20%;
}

.login-btn {
    background-color: rgb(211, 215, 219);
    height: 4%;
    width: 8%;
    margin-top: 0%;
}
.email-box {
    height: 100%;
    width: 100%;
}
.password-box {
    height: 100%;
    width: 100%;
}
.signin-btn {
    height: 4%;
    width: 8%;
    margin-bottom: 1%;
}
.button {
    font-size: 135%;
}
.fa-address-card {
    font-size: 8em;
}